<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" (click)="toggleSideMenu()" href="#">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active">
                ADMIN: 
                <input type="checkbox" (click)="updateAdminState()" />
            </li>
        </ul>
    </div>
</nav>
<div id="placeholder">
    <h1 class="site-title">Placeholder Image</h1>
</div>