<div id="sidebar-wrapper" [class.active]="showSideMenu">
  <nav id="spy">
    <ul class="sidebar-nav nav">
      <li class="active">
        <a href="#" (click)="updateSate('home')">Home</a>
      </li>
      <li>
        <a href="#" (click)="updateSate('about')">About</a>
      </li>
      <li>
        <a href="#" (click)="updateSate('product')">Product</a>
      </li>
      <li>
        <a href="#" (click)="updateSate('contact')">Contact</a>
      </li>
    </ul>
  </nav>

  <nav class="social">
    <ul>
      <li>
          <app-href-project>
              <a href="http://facebook.com" #href>Facebook</a>
            </app-href-project>
          </li>
      <li>
          <app-href-project>
              <a href="http://twitter.com" #href>Twitter</a>
            </app-href-project>
          </li>
      <li>
          <app-href-project>
              <a href="http://github.com" #href>Github</a>
          </app-href-project>
                </li>
    </ul>
  </nav>
</div>