<div id="sidebar-wrapper" [class.active]="showSideMenu">
  <nav>
    <div class="lang-selection">
      <span>Select Language: </span>
      <a (click)="selectLanguage('en')">en </a>
      <a (click)="selectLanguage('he')">he</a>
    </div>
  </nav>
  <nav id="spy">
    <ul class="sidebar-nav nav">
      <li class="active">
        <a routerLinkActive="active" routerLink="/home">{{'Home' | translate}}</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/about">{{'About' | translate}}</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/products">{{'Product' | translate}}</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLinkActive="active"routerLink="/contact">{{'Contact' | translate}}</a>
      </li>
      <li>
        <a routerLinkActive="active" *ngIf="permissionsService.isAdmin" routerLink="/edit')">{{'Add' | translate}}</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/cart">{{'Cart' | translate}}
          <span>{{this.cartService.getTotalCount()}}</span>
        </a>
      </li>
    </ul>
  </nav>

  <nav class="social">
    <ul>
      <li>
        <app-href-project>
          <a href="http://facebook.com" #href>Facebook</a>
        </app-href-project>
      </li>
      <li>
        <app-href-project>
          <a href="http://twitter.com" #href>Twitter</a>
        </app-href-project>
      </li>
      <li>
        <app-href-project>
          <a href="http://github.com" #href>Github</a>
        </app-href-project>
      </li>
    </ul>
  </nav>
</div>